<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Identificador de palavras iguais PDF</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="logo2.svg" type="image/svg" />
  </head>

  <!-- CORPO DO SITE -->

  <body>
    <div class="container">
      <h1>Identificador de palavras iguais PDF📁</h1>
    </div>

    <!-- Texto -->

    <div class="primeiro_text">
      <p>
        Identifique palavras comuns em múltiplos PDFs de forma rápida e
        eficiente, facilitando a análise de conteúdo e a comparação entre
        documentos. <br />
        Ideal para economizar tempo e obter resultados precisos na busca por
        termos recorrentes.
      </p>
    </div>

    <!-- FORMULÁRIO DE ENVIO e ABRIRPDF-->
    <form action="/" method="POST" enctype="multipart/form-data">
      <div class="abrirpdf">
        <label for="abrirpdf"
          >Clique "AQUI" para escolher os arquivos PDF.</label
        >
        <input
          type="file"
          id="abrirpdf"
          name="pdfs"
          accept=".pdf"
          class="subirarquivo"
          multiple
        />
      </div>

      <!--BOTÃO-->

      <div class="button">
        <button type="submit"><span>Iniciar</span></button>
      </div>
    </form>

    <!-- RESULTADO EXIBIDO EM TABELA, UNICO JEITO QUE DEU -->
    <div class="resultado">
      {% if resultado %}
      <h2>Palavras comuns encontradas:</h2>
      <table>
        <tr>
          <th>Palavra</th>
          <th>Arquivos</th>
        </tr>
        {% for palavra, arquivos in resultado.items() %}
        <tr>
          <td><b>{{ palavra }}</b></td>
          <td>
            <ul>
              {% for arquivo in arquivos %}
              <li><b>{{ arquivo }}</b></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>Nenhuma palavra comum encontrada entre os PDFs.</p>
      {% endif %}
    </div>
  </body>
</html>
